*{box-sizing:border-box;}
body { background-color:#CBE2E3;
       color:#002A32;
	   font-family: Tahoma, Arial, serif; 
	   margin: 0 auto; 
	   padding: 0 10em;
}
#wrapper { background-color:#F6FAFA;
			margin:0 auto;
			
			position:relative;
}

header{background-color: #002A32;
		font-family: Arial, sans-serif;
		text-align: center;
		padding-left: .2em;	
		padding-right: .5em
}
.hero{padding: .5em;
      position:relative;}
.hero img{height:10em;
	  width:auto;}	
	  
.heroindex1{background-size:cover;
		  background-repeat:no-repeat;
		padding:0;
		  height: 80vh;
		  width: 100%;
		  background-image:url(image/view.jpg);
		  background-position:center;
		  margin:0;
		  margin-bottom:5px
	
}	  

#heromenu{background-image:url(image/platter1.jpg);
	      background-size:cover;
		  background-repeat:no-repeat;
		  height:30em;
		  width: 100%;	
		  display:block;
		  justify-content:center;
}

#heroUs{background-size:cover;
		  background-repeat:no-repeat;
		  height: auto;
		  width: 50%;
		  display:block;
		  margin:0 auto;
		  justify-content:center;	
}
.hero1{background-size:100%;
		  background-repeat:no-repeat;
		  height: 10em;
		  width: 100%;
		  background-image:url(image/food.jpg);
		  display:block;
		  justify-content:center;
			margin-top:5px;
}	  

#herojobs{background-size:cover;
		  background-repeat:no-repeat;
		  height: 50%;
		  width: auto;	
		  } 

.mrch{margin: 1em; 
	   padding: 1em;
	   border-spacing: 0;
	   overflow: auto;	
}

.mrch h3{display:flex;
           flex-direction:column;
			margin: 0 auto;
			padding-bottom:.5em;
			text-align:center;
	
}

.mrch p{display:flex;
           flex-direction:column;
			margin: 0 auto;
			text-align:center;
			padding-bottom:.5em;
}

.mrch img{
		  background-repeat:no-repeat;
		  height:30vh;
		  width: 30vh;
		  margin: 0 auto;
		  float: left;
		  margin-right:.5em;
}
		  





		  
		  
h1 a{text-decoration: none;
	list-style-type:none;
	color:#F6FAFA;
	font-weight:bold;}
	
nav{font-family: Arial, sans-serif;
     padding:1em .5em;
	 position:relative;
	}
	
nav a{text-decoration: none;
	list-style-type:none;
	color:#F6FAFA;
	font-weight:bold;
	flex-direction: column;
	transition: background-color .20s ease, transform .20s ease;
	}
nav ul{display: flex;
		justify-content: center;
		list-style:none;
		padding-right:.5em;
		}
				
nav ul li a{list-style-type: none;
			padding: 1em;
}

nav ul li{position:relative;}

nav ul li ul{position:absolute;
			opacity:0;
			visibility:hidden;
			transform:translateY(10px);
			transition:opacity 0.1s ease, transform .20s ease;
			background-color:#002A32;
			top: 100%;
			left:0;
			}	

nav ul li ul li{display:block;}

ul li a:hover{background-color:rgba(255,255,255,0.15)}

nav ul li a:focus{background-color:#50817D;}

nav ul li a:hover{background-color:rgba(255,255,255,0.15);
}

nav ul li:hover ul li{padding:0;
					opacity:;
}

 nav ul li:hover ul{padding:0;
                   visibility:visible;
				   opacity:1;
				   transform:translateY(0);
				   transition-delay: .1s;
 }
 
 a{text-decoration: none;
   font-style:italic; 
 }
 
 main{font-family: Arial, sans-serif;
	  margin:auto;
	  padding:0 4em;
	  }
	  
h2 h3 {font-style: Bold;
       color:#CBE2E3;
}

p a{color:#44838E;
}

table {width: 80%;
margin:auto;
margin-bottom: 1.5em;
border:none;
}

td, th {padding: .5em;
border: none;}

tr:first-of-type{background-color:#CBE2E3;}

caption {font-size: 120%;
margin: 1em;
font-weight:bold;
font-family: Arial, serif;
}

form {display:flex;
	  flex-direction:column;
	  justify-content:center;
	   margin:0 auto;
	   width: 60%;
	    text-align:center;
}
label {color:#44838E;
	   font-weight:bold;
	   padding:1em;
	    text-align:center;
		
}

fieldset h2{text-align:center;	
}
fieldset p{text-align:center;	
}
 
fieldset{margin-top: .5em;
		margin-bottom:.5em;
}
input, textarea {color:#44838E;
	             padding: .5em;
				 margin-top: .5em;
				 margin-bottom: .5em;
				 border:2px outset #44838E;
				 border-radius: 5px;
				 text-align:center;
}
input[type="submit"]{
	margin-top:.5em;
	background-color:#CBE2E3;
	border:none;
	padding:1em;
	font-weight: bold;
}
input[type="submit"]:hover{
	background-color:#D7E0D2;
}
	  
footer{background-color:#002A32;
	   font-size: .90em;
	   font-style: italic;
	   text-align: center; 
	   color:#F6FAFA;
}	  